body {
  font-family: 'Montserrat';
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-family: 'Montserrat-Black';
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/********************************************navigation bar***************************/
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat-light';
  font-size: 1.2rem;
}

/************************************download-button**************************************/
.download-button {
  margin: 5% 3% 5% 0;
}

/*********************************title-image*********************************************/
.title-image {
  width: 60%;
  transform: rotate(27deg);
  position:absolute;
  right:30%;
}

/*********************************feature****************************************/
#features {
  padding: 7% 10%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.lol {
  color: #ef8172;
  margin-bottom: 1rem;
}

.lol:hover {
  color: #ff4c68;
}

p {
  color: #8f8f8f;
}

h3 {
  font-family: 'montserrat';
  font-size: 1.5rem;
  font-weight: bold;
}

/*********testimonials*********************************/
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

h2 {
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}


.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}
.carousel-item{
    padding: 7% 20%;
}

/****************************press***********************/
#press {
  background-color: #ef8172;
  text-align: center;
}

.press-logo {
  width:15%;
  margin:20px 20px 50px;
}
/*************************pricing******************************/
#pricing{
  text-align: center;
  padding:100px;
}
.pricing-column{
  padding:3% 2%;
}
/**************** Call to Action*******************/
#cta{
  background-color: #ff4c68;
  color: #fff;
  padding:7% 15%;
  text-align: center;
}
.cta-heading{
  font-family: 'Montserrat-Black'
  font-weight:900;
  font-size: 3.5rem;
  line-height: 1.5;
}
/******************footer******************/
#footer{
  padding:7% 15%;
  text-align: center;
}
.social-icon{
  margin:20px 10px;
}

@media (max-width:991px) {
  .title-image{
    position: static;
    transform: rotate(0);
  }
  #title{
    text-align: center;
  }

}
